<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yatatsu.debugmenu">

  <application>

    <activity android:name="com.yatatsu.debugmenu.MenuActivity"
        android:launchMode="singleTop"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar"
        />

  </application>

</manifest>
